@use 'true';
@use 'src/media-query' as util;

@include true.describe('TEST: MEDIA QUERY') {
    @include true.it('mq medium') {
        @include true.assert {
            @include true.output {
                @include util.mq('md') {
                    body {
                        margin: 100px;
                    }
                }
            }

            @include true.expect {
                @media (min-width: 768px) {
                    body {
                        margin: 100px;
                    }
                }
            }
        }
    }

    @include true.it('mq large') {
        @include true.assert {
            @include true.output {
                @include util.mq('lg') {
                    body {
                        margin: 200px;
                    }
                }
            }

            @include true.expect {
                @media (min-width: 1024px) {
                    body {
                        margin: 200px;
                    }
                }
            }
        }
    }
}
