@use 'true';
@use 'src/position' as util;

@include true.describe('TEST: POSITIOM') {
    @include true.it('position absolute') {
        @include true.assert {
            @include true.output {
                @include util.absolute(right 33.333%);
            }

            @include true.expect {
                position: absolute;
                right: 33.333%;
            }
        }
    }

    @include true.it('position fixed') {
        @include true.assert {
            @include true.output {
                @include util.fixed(top bottom 5px left);
            }

            @include true.expect {
                position: fixed;
                top: 0;
                bottom: 5px;
                left: 0;
            }
        }
    }

    @include true.it('position relative') {
        @include true.assert {
            @include true.output {
                @include util.position(relative, bottom -10px);
            }

            @include true.expect {
                position: relative;
                bottom: -10px;
            }
        }
    }
}
