@use 'true' as *;
@use 'src/reset-list' as *;

@include describe('TEST: reset-list') {
    @include it('reset-list') {
        @include assert {
            @include output {
                @include reset-list();
            }

            @include expect {
                margin: 0;
                padding: 0;
                list-style: none;
            }
        }
    }
}

