@use 'true';
@use 'index.scss' as util;

@include true.describe('TEST: RESET LIST') {
    @include true.it('reset-list') {
        @include true.assert {
            @include true.output {
                @include util.reset-list();
            }

            @include true.expect {
                margin: 0;
                padding: 0;
                list-style: none;
            }
        }
    }
}
