// Defines the default breakpoints
$breakpoints: (
    'md': 768px,
    'lg': 1024px,
) !default;

// Defines the default fluid breakpoints
$breakpoint-min: 420px !default;
$breakpoint-max: 1900px !default;
