@use 'sass:meta';
@use 'sass:list';
@use '../config';

@function fluid-scale($value) {
    @if $value and meta.type-of($value) == number {
        @return $value;
    } @else if meta.type-of($value) == list and list.length($value) == 2 {
        $min: list.nth($value, 1);
        $max: list.nth($value, 2);
        $min-vw: config.$breakpoint-min;
        $max-vw: config.$breakpoint-max;

        $factor: 1 / ($max-vw - $min-vw) * ($max - $min);
        $calc-value: calc(#{$min - ($min-vw * $factor)} + #{100vw * $factor});

        @return clamp(#{if($min > $max, $max, $min)}, #{$calc-value}, #{if($min > $max, $min, $max)});
    }
}
