// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
// GLOBALS
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
// Declare the global values.
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

// Get the development mode.
$isDev: false !default;

// Default breakpoints.
$breakpoints: (
    'md': 768px,
    'lg': 1024px,
) !default;

// Default fluid breakpoints.
$breakpoint-min: 420px !default;
$breakpoint-max: 1900px !default;
